{% extends "base.html" %}

{% block content %}
<title>About Page</title>
<style>
    /* Set the body background color to white */
    body {
        background-color: white;
        margin: 0;
        padding: 0;
    }

    /* Add any other necessary styles */
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">About This Website</h2>
            <p class="text-center">
                Welcome to this website! It's a platform dedicated to providing valuable information and resources about
                Blog website.
            </p>
            <h2 class="text-center "> Our mission</h2>
            <p>
                The mission of this blog is to inform, inspire, and engage our audience with valuable content, fostering
                a sense of community and continuous growth.
                This website aims to build a supportive community and remains committed to delivering valuable,
                reliable content.
            </p>
            <p>
                Thank you for using our website. We hope you've enjoyed your visit!
            </p>
            <p>We extend our sincere thanks to TBC Bank for their invaluable assistance in bringing this project to
                life. Their support has been instrumental in the realization of this platform. To discover more about
                TBC Bank, their services, and initiatives, visit <a href="https://www.tbceducation.ge/">TBC Bank</a>. We
                deeply appreciate
                their commitment to fostering innovation and aiding ventures like ours.</p>
            <div
                    class="margin-top: 20px text-center "> For more information visit TBC BANK
            </div>
            <a href="https://www.tbceducation.ge/" target="_blank" class="text-center d-block">
                <img src="/static/tbc3.png" style="width: 300px; margin: 10px auto; ">
            </a>

        </div>

    </div>
</div>
{% endblock %}
